<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.author.name }} | {{ page.title }}</title>
    {% if site.description %}<meta name="description" content="{{ site.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    {% if site.keywords %}<meta name="keywords" content="{{ site.keywords }}">{% endif %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/css/bootstrap.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/pygments.css?body=1" rel="stylesheet" type="text/css" media="all">    

    <link rel="shortcut icon" href="/assets/img/favicon.png">

    <script src="{{ ASSET_PATH }}/js/jquery.min.js"></script>
    <script src="{{ ASSET_PATH }}/js/jquery-tapir.min.js"></script>

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  	 <link id="RSSLink" title="RSS" type="application/rss+xml" rel="alternate" href="/atom.xml" />
  	 {% include JB/analytics %}
  </head>

  <body>

    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          <ul class="nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
          <form class="navbar-search pull-right" action="/search.html">
            <input type="text" class="search-query" placeholder="Search" name="query">
          </form>
        </div>
        
      </div>
    </div>

    <div class="container">

      <div class="content">
        {{ content }}
      </div>

      <footer>
       <p><small>Powered by <a href="https://github.com/mojombo/jekyll">Jekyll</a>, <a href="http://twitter.github.com/bootstrap/">Bootstrap</a> and <a href="http://bitbucket.org">Bitbucket</a> | <a href="https://bitbucket.org/danshan">Dan Theme</a> by <a href="http://shanhh.com">Dan Shan</a> | <span class="label label-success">{{site.time | date:"%Y-%m-%d %H:%M:%S"}}</span></small></p>
      </footer>

    </div> <!-- /container -->


     <!-- google-analytics -->
     <script type="text/javascript">
       var _gaq = _gaq || [];
       _gaq.push(['_setAccount', 'UA-35736325-2']);
       _gaq.push(['_trackPageview']);
       (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
    </script>

    <!-- keyboard shortkey -->
    <script>
    $(function(){
      $(document).keydown(function(e) {
        var url = false;
        if (e.which == 37 || e.which == 72) {  // Left arrow and J
          {% if page.previous %}
            url = '{{page.previous.url}}';
          {% endif %}
        } else if (e.which == 39 || e.which == 76) {  // Right arrow and K
          {% if page.next %}
            url = '{{page.next.url}}';
          {% endif %}
        }
        if (url) {
          window.location = url;
        }
      }
    );
  })
  </script>
  </body>
</html>
