/* Override some defaults */
html, body {
  background-color: #eee;
}
.navbar {
  margin-bottom: 0;
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}

/******************* customized *********************/

body {
	font-size: 14px;
	line-height: 22px;
}

li, p {
	line-height: 22px;
	font-size: 14px;
}

h1 {font-size: 24px; clear: both;}
h1 small {font-size: 70%;}
h3 {font-size: 18px;}
h4 {font-size: 16px;}

h3,h4 {line-height: 42px; clear: both;}

code {
	background-color: #D0D0D0;
	font-size: 12px;
	color: #333333;
}

blockquote {
	color: #909090;
	margin: 0 0 18px 18px;
}

blockquote p {
	font-style: italic;
	font-size: 14px;
}

.highlight pre {background-color: white;}
.highlight pre code{color: black;}
pre, code{
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.signature {
	font-size: 15px;
	color: #9D9D9D;
	font-style:italic;
}

/* post content in post page*/
div.span8 {
	width: 680px;
}

/* right sidebar in post page*/
div.span4 {
	width: 220px;
}

/**************** homepage ********************/
div.home-page-content {
	
}

div.home-page-post .date {
	color: #9D9D9D;
	font-size: 16px;
}

div.home-page-post label{
	font-weight: bold;
	display: inline;
}

div.home-page-post div.post-header{
	width: 20%;
	float: left;
	margin-right: 10px;
}

div.home-page-post div.post-header .tags span, div.home-page-post div.post-header .category span {
	font-size: 12px;
}

div.home-page-post div.post-content{
	overflow: hidden;
}

div.home-page-post div.post-content div.title{
	font-size: 16px;
	font-weight: bold;
}

div.home-page-post div.post-content div.abstract{
	color: #444444;
}

div.post-footer {
	border-bottom: 1px solid #EAEAEA;
	margin: 10px 0;
	clear: both;
	line-height: 0;
}

div.home-page-sidebar {
	/*width: 100%;*/
	/*float: right;*/
	margin: 10px;
}

.sidebar-title {
	font-weight: bold;
	border-radius: 3px 3px 3px 3px;
	padding: 3px 6px;
	width: 100%;
	background-color: #EEEEEE;
}

/******************* images *******************/
img[alt=avatar], img[alt="jekyll-bootstrap-dir-structure"] { 
	float: left; 
	margin-right: 30px;
}

img[alt="rss feed"] { 
	float: right; 
	margin-top: 5px;
}

img[alt="blogging"] { 
	float: left; 
	width: 500;
	height: 326;
	margin-right: 20px;
}

#social_link li {
    float: right; 
    margin-left: 4px;
}
#social_link li.twitter_button a {
    background: url("/assets/img/twitter.gif") no-repeat scroll left top transparent;
}
#social_link li.rss_button a {
    background: url("/assets/img/rss.gif") no-repeat scroll left top transparent;
}
#social_link li a {
    display: block;
    height: 34px;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    width: 34px;
}
#social_link li a:hover {
    background-position: left bottom;
}

